#contact_modal {
    display: none;
    background-color: #312E2E;
}

.modal {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
    top: 0;
    bottom: 0;
    position: fixed;
    overflow: auto;
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin-left: 25%;
    @media #{$mobile} {
         z-index: 1;
         width: 85%;
         margin: auto;
         justify-content: space-evenly;
     }
}

#header_modal {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    @media #{$desktop} {
        justify-content: space-around;
     }
}

#header_modal img {
    cursor: pointer;
    margin-left: 3rem;
    font-size: 0.5rem;
    
}

.modal header h2 {
    //font-size: 64px;
    @media #{$mobile} {
       font-size: 2rem;
    }
    @media #{$desktop} {
        font-size: 4rem;
        font-weight: normal;
        display: flex;
        flex-direction: column;
        margin-right: 12rem;
        margin-bottom: 3rem;
    }
    @media #{$tablet} {
        font-size: 3rem;
    }
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    label {
        color: #312E2E;
        font-size: 36px;
        @media #{$mobile} {
            font-size: 1.5rem;
         }
         @media #{$tablet} {
            font-size: 2rem;
         } 
    }
    div {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: self-start;
        margin-bottom: 26px;
    }
    label {
        margin: 0.5rem 0;
    }
    input {
        width: 100%;
        height: 68px;
        border: none;
        border-radius: 5px;
        font-size: 1.2rem;
        padding-left: 0.5rem;
        @media #{$mobile} {
            font-size: 1rem;
         }
    }
    p {
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        font-size: 1.4rem;
    }
    textarea {
        width: 100%;
        height: 5rem;
        border: none;
        border-radius: 5px;
        resize: none;
        font-size: 1.2rem;
        padding-left: 0.5rem;
        font-family: DM Sans;
        padding-top: 0.7rem;
    }
}