//* Header Photograph

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

//* Header index

header {
    @media #{$mobile} {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     //height: 50px;
     margin: 3rem 0;   
    }
    
    @media #{$desktop} {
        margin-top: 1rem;
    }
}

h1 {
    @media #{$mobile} {
      color: #901C1C;
      font-size: 2.5rem;  
    }
    
    @media #{$desktop} {
        //margin-right: 100px;
        font-size: 36px;
    }
}

.logo {
    @media #{$mobile} {
      height: 5rem;  
    }
    
    @media #{$desktop} {
        height: 60px;
        margin-left: 110px;
    }
    /*@media #{$tablet} {
        height: 5rem;
    }
    @media #{$tablet_rotate} {
        height: 4rem;
    }*/
}