//* Header Photograph

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

//* Header index

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    margin: 4rem 3rem;
    @media #{$desktop} {
        margin: 0rem;
    }
}

h1 {
    color: #901C1C;
    font-size: 40px;
    @media #{$desktop} {
        margin-right: 100px;
        font-size: 36px;
    }
}

.logo {
    height: 7rem;
    @media #{$desktop} {
        height: 50px;
        margin-left: 100px;
    }
    /*@media #{$tablet} {
        height: 5rem;
    }
    @media #{$tablet_rotate} {
        height: 4rem;
    }*/
}