#lightboxDiv {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 10%;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: white;
  @media #{$desktop} {
    padding-top: 1rem;
    left: 0;
  }
  #flexLightbox {
    @media #{$mobile} {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  #lightboxContent {
    display: flex;
    justify-content: center;
    align-items: center;
    @media #{$mobile} {
      margin-top: 2rem;
    }
    
  }
  #imgBigger {
    height: 600px;
    width: 300px;
    object-fit: cover;
    border-radius: 5px;
    margin: 1rem;
    @media #{$desktop} {
    height: 600px;
    width: 800px;
    margin: 0;
    }
    @media #{$tablet} {
      height: 800px;
      width: 650px;
   } 
  }
  .fa-xmark {
    background-color: black;
  }
  #titleFigcaption {
    @media #{$desktop} {
    }
    
  }
  #imgNameLightbox {
    font-size: 1.3rem;
    color: $primary-red;
    margin-top: 1rem;
    @media #{$desktop} {
      margin-left: 27%;
    }
    @media #{$tablet} {
      margin-left: 5rem;
   } 
   
  }
  video {
    @include imgvideo;
    display: none;
    @media #{$desktop} {
      height: 600px;
    width: 800px;
    margin: 0;
      }
  }

}


