#lightboxDiv {
display: none;
position: fixed;
z-index: 1;
  padding-top: 1rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: white;
  #lightboxContent {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #imgBigger {
    height: 700px;
    width: 800px;
    object-fit: cover;
    border-radius: 5px;
  }
  .fa-xmark {
    background-color: black;
  }
  #imgNameLightbox {
    font-size: 1.3rem;
    color: $primary-red;
    margin-left: 27%;
    margin-top: 1rem;
  }
  video {
    display: none;
    height: 700px;
    width: 800px;
    object-fit: cover;
    border-radius: 5px;
  }

}


