
/* Dropdown Button */

.dropdown_part {
  display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    #filter_by {
        color: black;
        font-weight: bold;
        font-size: 1.1rem;
        margin-right: 2rem;
    }
}

#filter_by {
  display: flex;
  
  }
.fa-angle-down {
    margin-left: 2rem;
}

.fa-angle-up {
  margin-left: 2rem;
}

.dropbtn {
  background-color: $primary-red;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  min-width: 160px;
  border-radius: 3px;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin: 1rem 100px;
  border-radius: 3px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: $primary-red;
  min-width: 160px;
  z-index: 1;
  border-radius: 3px;
  margin-top: 2.9rem;
  
}

.dropdown-content p {
  color: white;
  border-top: solid 1px white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  
}

#flex_content {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.show {display:block;}