.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
}
@media screen and (min-width: 414px) and (max-width: 736px) {
  .contact_button {
    height: 45px;
    font-size: 15px;
    position: fixed;
    bottom: 0;
    margin-bottom: 1.4rem;
  }
}
.contact_button:hover, .contact_button:focus {
  color: black;
  background-color: #DB8876;
}

.submit_form {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
}
@media screen and (min-width: 414px) and (max-width: 736px) {
  .submit_form {
    height: 45px;
    font-size: 15px;
    position: fixed;
    bottom: 0;
    margin-bottom: 1.4rem;
  }
}

.fa-times {
  color: #901C1C;
  font-size: 2rem;
  cursor: pointer;
  margin-right: -22rem;
}
@media screen and (min-width: 992px) {
  .fa-times {
    margin-left: 85rem;
    margin-bottom: -15rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .fa-times {
    margin-left: 45rem;
    font-size: 3rem;
  }
}

.fa-angle-left, .fa-angle-right {
  color: #901C1C;
  font-size: 2rem;
}
@media screen and (min-width: 992px) {
  .fa-angle-left, .fa-angle-right {
    font-size: 3rem;
    margin: 2rem;
  }
}

.fa-heart {
  padding-left: 0.5rem;
}

#contact_modal {
  display: none;
  background-color: #312E2E;
}

.modal {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
  top: 0;
  bottom: 0;
  position: fixed;
  overflow: auto;
  border-radius: 5px;
  background-color: #DB8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin-left: 25%;
}
@media screen and (min-width: 414px) and (max-width: 736px) {
  .modal {
    z-index: 1;
    width: 85%;
    margin: auto;
    justify-content: space-evenly;
  }
}

#header_modal {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
@media screen and (min-width: 992px) {
  #header_modal {
    justify-content: space-around;
  }
}

#header_modal img {
  cursor: pointer;
  margin-left: 3rem;
  font-size: 0.5rem;
}

@media screen and (min-width: 414px) and (max-width: 736px) {
  .modal header h2 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 992px) {
  .modal header h2 {
    font-size: 4rem;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    margin-right: 12rem;
    margin-bottom: 3rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .modal header h2 {
    font-size: 3rem;
  }
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}
form label {
  color: #312E2E;
  font-size: 36px;
}
@media screen and (min-width: 414px) and (max-width: 736px) {
  form label {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  form label {
    font-size: 2rem;
  }
}
form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}
form label {
  margin: 0.5rem 0;
}
form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  padding-left: 0.5rem;
}
@media screen and (min-width: 414px) and (max-width: 736px) {
  form input {
    font-size: 1rem;
  }
}
form p {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 1.4rem;
}
form textarea {
  width: 100%;
  height: 5rem;
  border: none;
  border-radius: 5px;
  resize: none;
  font-size: 1.2rem;
  padding-left: 0.5rem;
  font-family: DM Sans;
  padding-top: 0.7rem;
}

#photograph-header #logo_header {
  margin-left: 2rem;
}
#photograph-header .logo {
  height: 3rem;
  margin-top: 1rem;
}
@media screen and (min-width: 992px) {
  #photograph-header {
    margin: 2rem 100px;
  }
}

#header_index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
}
@media screen and (max-width: 413px) {
  #header_index {
    margin: 2rem 0;
  }
}
@media screen and (min-width: 992px) {
  #header_index {
    margin-top: 1rem;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 110px;
    margin-left: 110px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  #header_index {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
#header_index h1 {
  color: #901C1C;
  font-size: 2.5rem;
}
@media screen and (max-width: 413px) {
  #header_index h1 {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 992px) {
  #header_index h1 {
    font-size: 36px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  #header_index h1 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 414px) and (max-width: 736px) {
  #header_index .logo {
    height: 5rem;
  }
}
@media screen and (max-width: 413px) {
  #header_index .logo {
    height: 4rem;
  }
}
@media screen and (min-width: 992px) {
  #header_index .logo {
    height: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  #header_index .logo {
    height: 4.5rem;
  }
}
@media screen and (min-width: 992px) {
  #header_index .logo {
    height: 4rem;
  }
}

#lightboxDiv {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 10%;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: white;
}
@media screen and (min-width: 992px) {
  #lightboxDiv {
    padding-top: 1rem;
    left: 0;
  }
}
@media screen and (min-width: 414px) and (max-width: 736px) {
  #lightboxDiv #flexLightbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
#lightboxDiv #lightboxContent {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 414px) and (max-width: 736px) {
  #lightboxDiv #lightboxContent {
    margin-top: 2rem;
  }
}
#lightboxDiv #imgBigger {
  height: 600px;
  width: 300px;
  object-fit: cover;
  border-radius: 5px;
  margin: 1rem;
}
@media screen and (min-width: 992px) {
  #lightboxDiv #imgBigger {
    height: 600px;
    width: 800px;
    margin: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  #lightboxDiv #imgBigger {
    height: 800px;
    width: 650px;
  }
}
#lightboxDiv .fa-xmark {
  background-color: black;
}
#lightboxDiv #imgNameLightbox {
  font-size: 1.3rem;
  color: #901C1C;
  margin-top: 1rem;
}
@media screen and (min-width: 992px) {
  #lightboxDiv #imgNameLightbox {
    margin-left: 27%;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  #lightboxDiv #imgNameLightbox {
    margin-left: 5rem;
  }
}
#lightboxDiv video {
  height: 600px;
  width: 300px;
  object-fit: cover;
  border-radius: 5px;
  margin: 1rem;
  display: none;
}
@media screen and (min-width: 992px) {
  #lightboxDiv video {
    height: 300px;
    width: 800px;
  }
}
@media screen and (min-width: 992px) {
  #lightboxDiv video {
    height: 600px;
    width: 800px;
    margin: 0;
  }
}

/* Dropdown Button */
.dropdown_part {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
}
@media screen and (min-width: 414px) and (max-width: 736px) {
  .dropdown_part {
    margin-bottom: 1rem;
  }
}
.dropdown_part #filter_by {
  color: black;
  font-weight: bold;
  font-size: 1.1rem;
  margin-right: 2rem;
}
.fa-angle-down {
  margin-left: 2rem;
}

.fa-angle-up {
  margin-left: 2rem;
}

.dropbtn {
  background-color: #901C1C;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  min-width: 160px;
  border-radius: 3px;
}

.dropdown {
  position: relative;
  margin-left: 16%;
}
@media screen and (min-width: 992px) {
  .dropdown {
    margin: 1rem 100px;
    border-radius: 3px;
    display: inline-block;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #901C1C;
  min-width: 160px;
  z-index: 1;
  border-radius: 3px;
  margin-top: 2.9rem;
}

.dropdown-content p {
  color: white;
  border-top: solid 1px white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#flex_content {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.show {
  display: block;
}

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

.photographer_section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (min-width: 992px) {
  .photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
  }
}

.photographer_section article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-self: center;
  padding: 3rem 0;
}
@media screen and (min-width: 992px) {
  .photographer_section article {
    padding: 0%;
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .photographer_section article {
    justify-content: flex-start;
    margin: 1rem;
  }
}

.photographer_section article h2 {
  color: #D3573C;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
@media screen and (max-width: 413px) {
  .photographer_section article h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
}
@media screen and (min-width: 992px) {
  .photographer_section article h2 {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .photographer_section article h2 {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 992px) {
  .photographer_section article h2 {
    font-size: 3rem;
  }
}

.photographer_section article img {
  border-radius: 50%;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
@media screen and (max-width: 413px) {
  .photographer_section article img {
    height: 15rem;
    width: 15rem;
  }
}
@media screen and (min-width: 414px) and (max-width: 736px) {
  .photographer_section article img {
    height: 18rem;
    width: 18rem;
  }
}
@media screen and (min-width: 992px) {
  .photographer_section article img {
    height: 700px;
    width: 800px;
    margin-bottom: 3rem;
  }
}
@media screen and (min-width: 992px) {
  .photographer_section article img {
    height: 250px;
    width: 250px;
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .photographer_section article img {
    height: 250px;
    width: 250px;
  }
}
@media screen and (min-width: 992px) {
  .photographer_section article img {
    height: 250px;
    width: 250px;
  }
}

article .photographe_city {
  color: #901C1C;
  font-size: 2rem;
  margin-bottom: 0.8rem;
}
@media screen and (max-width: 413px) {
  article .photographe_city {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 992px) {
  article .photographe_city {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  article .photographe_city {
    font-size: 1.5rem;
  }
}
article .photographe_tagline {
  color: black;
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
  text-align: center;
  width: 20rem;
}
@media screen and (min-width: 992px) {
  article .photographe_tagline {
    font-size: 1rem;
  }
}
article .photographe_price {
  color: #525252;
  font-size: 1.2rem;
}
@media screen and (min-width: 992px) {
  article .photographe_price {
    font-size: 0.9rem;
  }
}

.photograph_profile_picture {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
@media screen and (min-width: 992px) {
  .photograph_profile_picture {
    height: 700px;
    width: 800px;
    margin-bottom: 3rem;
  }
}
@media screen and (min-width: 992px) {
  .photograph_profile_picture {
    height: 250px;
    width: 250px;
  }
}

.photograph-header {
  padding: 1rem;
}
.photograph-header .infos_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  background-color: #fafafa;
}
@media screen and (min-width: 992px) {
  .photograph-header .infos_header {
    flex-direction: row;
    justify-content: space-around;
  }
}
.photograph-header .infos_header h1 {
  font-size: 1.5rem;
  color: #D3573C;
}
@media screen and (min-width: 992px) {
  .photograph-header .infos_header h1 {
    font-size: 4rem;
  }
}
.photograph-header .infos_header p {
  font-size: 1.5rem;
  color: #901C1C;
}
@media screen and (min-width: 992px) {
  .photograph-header .infos_header p {
    font-size: 2rem;
  }
}
.photograph-header .infos_header .tagline {
  font-size: 1rem;
  width: 90%;
  color: #525252;
}
@media screen and (min-width: 992px) {
  .photograph-header .infos_header .tagline {
    font-size: 1.5rem;
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .photograph-header .infos_header {
    padding: 2rem;
  }
}

.mediaDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 992px) {
  .mediaDiv {
    flex-direction: row;
    margin-left: 100px;
    flex-wrap: wrap;
    gap: 30px 50px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .mediaDiv {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px 30px;
    margin-top: 2rem;
  }
}
.mediaDiv .figureMedia {
  height: 300px;
  width: 350px;
  margin-bottom: 3rem;
}
@media screen and (min-width: 992px) {
  .mediaDiv .figureMedia {
    height: 450px;
    width: 400px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .mediaDiv .figureMedia {
    width: 320px;
  }
}
.mediaDiv .imgFigure {
  height: 300px;
  width: 350px;
  object-fit: cover;
  border-radius: 1%;
}
@media screen and (min-width: 992px) {
  .mediaDiv .imgFigure {
    height: 400px;
    width: 400px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .mediaDiv .imgFigure {
    height: 300px;
    width: 320px;
  }
}
.mediaDiv .videoFigure {
  height: 300px;
  width: 350px;
  object-fit: cover;
  border-radius: 1%;
}
@media screen and (min-width: 992px) {
  .mediaDiv .videoFigure {
    height: 400px;
    width: 400px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .mediaDiv .videoFigure {
    height: 300px;
    width: 320px;
  }
}
.mediaDiv .figcaption-media {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 0.5rem;
}
@media screen and (min-width: 414px) and (max-width: 736px) {
  .mediaDiv .figcaption-media {
    justify-content: space-around;
  }
}
.mediaDiv #titleFigcaption, .mediaDiv #likesFigcaption {
  font-size: 1.2rem;
  color: #901C1C;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  #design_tablet {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 2rem;
  }
}

body {
  position: relative;
}
body .likes_price_div {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #DB8876;
  height: 5rem;
  width: 24rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 2%;
  font-size: 1.5rem;
  color: black;
  font-weight: bold;
}
@media screen and (min-width: 414px) and (max-width: 736px) {
  body .likes_price_div {
    position: unset;
    font-size: 1.2rem;
    height: 4rem;
    width: 20rem;
    margin: 1rem auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  body .likes_price_div {
    position: unset;
    font-size: 1.2rem;
    height: 4rem;
    width: 20rem;
    margin: 1rem;
  }
}
body .likes_price_div .all_likes {
  display: flex;
  flex-direction: row;
}

/*# sourceMappingURL=style.css.map */
