.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
}

#contact_modal {
  display: none;
}

.modal {
  border-radius: 5px;
  background-color: #DB8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312E2E;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

.photograph-header {
  background-color: #FAFAFA;
  height: 300px;
  margin: 0 100px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  margin: 4rem 3rem;
}
@media screen and (min-width: 1025px) {
  header {
    margin-top: 1rem;
  }
}

h1 {
  color: #901C1C;
  font-size: 40px;
}
@media screen and (min-width: 1025px) {
  h1 {
    margin-right: 100px;
    font-size: 36px;
  }
}

.logo {
  height: 7rem;
  /*@media screen and (min-width: 768px) {
      height: 5rem;
  }
  @media screen and (min-width: 992px) and (max-width: 1024px) {
      height: 4rem;
  }*/
}
@media screen and (min-width: 1025px) {
  .logo {
    height: 60px;
    margin-left: 110px;
  }
}

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

.photographer_section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /*@media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

  @media screen and (min-width: 992px) and (max-width: 1024px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  }}*/
}
@media screen and (min-width: 1025px) {
  .photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
  }
}

.photographer_section article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-self: center;
  padding: 3rem;
}
@media screen and (min-width: 1025px) {
  .photographer_section article {
    padding: 0%;
    margin-bottom: 2rem;
  }
}

.photographer_section article h2 {
  color: #D3573C;
  font-size: 5rem;
  margin-bottom: 1rem;
  /*@media screen and (min-width: 768px) {
      font-size: 3rem;
  }
  @media screen and (min-width: 992px) and (max-width: 1024px) {
      font-size: 3rem;
  }*/
}
@media screen and (min-width: 1025px) {
  .photographer_section article h2 {
    font-size: 2.5rem;
    margin-bottom: 0.8rem;
  }
}

.photographer_section article img {
  height: 500px;
  width: 500px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 3rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  /*@media screen and (min-width: 768px) {
      height: 250px;
      width: 250px;
  }
  @media screen and (min-width: 992px) and (max-width: 1024px) {
      height: 250px;
      width: 250px;
  }*/
}
@media screen and (min-width: 1025px) {
  .photographer_section article img {
    height: 250px;
    width: 250px;
    margin-bottom: 2rem;
  }
}

article .photographe_city {
  color: #901C1C;
  font-size: 2rem;
  margin-bottom: 0.8rem;
}
@media screen and (min-width: 1025px) {
  article .photographe_city {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
  }
}
article .photographe_tagline {
  color: black;
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
  width: 30rem;
  text-align: center;
}
@media screen and (min-width: 1025px) {
  article .photographe_tagline {
    font-size: 1rem;
  }
}
article .photographe_price {
  color: #525252;
  font-size: 1.2rem;
}
@media screen and (min-width: 1025px) {
  article .photographe_price {
    font-size: 0.9rem;
  }
}

.photograph_profile_picture {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 3rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
@media screen and (min-width: 1025px) {
  .photograph_profile_picture {
    height: 250px;
    width: 250px;
  }
}

.photograph-header {
  padding: 2rem;
}
.photograph-header .infos_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.photograph-header .infos_header h1 {
  font-size: 4rem;
  color: #D3573C;
}
.photograph-header .infos_header p {
  font-size: 2rem;
  color: #901C1C;
}
@media screen and (min-width: 1025px) {
  .photograph-header .infos_header {
    padding: 2rem;
  }
}

.mediaDiv {
  margin: 0 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px 157px;
}
.mediaDiv .figureMedia {
  height: 450px;
  width: 450px;
}
.mediaDiv .imgFigure {
  height: 400px;
  width: 450px;
  object-fit: cover;
  border-radius: 1%;
}
.mediaDiv .figcaption-media {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 0.5rem;
}
.mediaDiv #titleFigcaption, .mediaDiv #likesFigcaption {
  font-size: 1.4rem;
  color: #901C1C;
}

/*# sourceMappingURL=style.css.map */
