.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
}
.contact_button:hover, .contact_button:focus {
  color: black;
  background-color: #DB8876;
}

.submit_form {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
}

.fa-times {
  color: #901C1C;
  font-size: 2rem;
  cursor: pointer;
}

.fa-angle-left, .fa-angle-right {
  color: #901C1C;
  font-size: 3rem;
  margin: 2rem;
}

.fa-heart {
  padding-left: 0.5rem;
}

#contact_modal {
  display: none;
  background-color: #312E2E;
}

.modal {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
  top: 0;
  bottom: 0;
  position: fixed;
  overflow: auto;
  border-radius: 5px;
  background-color: #DB8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin-left: 25%;
}

.modal header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}
form label {
  color: #312E2E;
  font-size: 36px;
}
form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}
form label {
  margin: 0.5rem 0;
}
form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  padding-left: 0.5rem;
}
form p {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 1.4rem;
}
form textarea {
  width: 100%;
  height: 5rem;
  border: none;
  border-radius: 5px;
  resize: none;
  font-size: 1.2rem;
  padding-left: 0.5rem;
  font-family: DM Sans;
  padding-top: 0.7rem;
}

.photograph-header {
  background-color: #FAFAFA;
  height: 300px;
  margin: 0 100px;
}

@media screen and (min-width: 414px) and (max-width: 736px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
  }
}
@media screen and (min-width: 1025px) {
  header {
    margin-top: 1rem;
  }
}

@media screen and (min-width: 414px) and (max-width: 736px) {
  h1 {
    color: #901C1C;
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 1025px) {
  h1 {
    font-size: 36px;
  }
}

.logo {
  /*@media screen and (min-width: 768px) {
      height: 5rem;
  }
  @media screen and (min-width: 992px) and (max-width: 1024px) {
      height: 4rem;
  }*/
}
@media screen and (min-width: 414px) and (max-width: 736px) {
  .logo {
    height: 5rem;
  }
}
@media screen and (min-width: 1025px) {
  .logo {
    height: 60px;
    margin-left: 110px;
  }
}

#lightboxDiv {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 1rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: white;
}
#lightboxDiv #lightboxContent {
  display: flex;
  justify-content: center;
  align-items: center;
}
#lightboxDiv #imgBigger {
  height: 700px;
  width: 800px;
  object-fit: cover;
  border-radius: 5px;
}
#lightboxDiv .fa-xmark {
  background-color: black;
}
#lightboxDiv #imgNameLightbox {
  font-size: 1.3rem;
  color: #901C1C;
  margin-left: 27%;
  margin-top: 1rem;
}
#lightboxDiv video {
  height: 700px;
  width: 800px;
  object-fit: cover;
  border-radius: 5px;
  display: none;
}

/* Dropdown Button */
.dropdown_part {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
}
.dropdown_part #filter_by {
  color: black;
  font-weight: bold;
  font-size: 1.1rem;
  margin-right: 2rem;
}

#filter_by {
  display: flex;
}

.fa-angle-down {
  margin-left: 2rem;
}

.fa-angle-up {
  margin-left: 2rem;
}

.dropbtn {
  background-color: #901C1C;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  min-width: 160px;
  border-radius: 3px;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin: 1rem 100px;
  border-radius: 3px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #901C1C;
  min-width: 160px;
  z-index: 1;
  border-radius: 3px;
  margin-top: 2.9rem;
}

.dropdown-content p {
  color: white;
  border-top: solid 1px white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#flex_content {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.show {
  display: block;
}

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

.photographer_section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /*@media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

  @media screen and (min-width: 992px) and (max-width: 1024px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  }}*/
}
@media screen and (min-width: 1025px) {
  .photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
  }
}

.photographer_section article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-self: center;
  padding: 3rem 0;
}
@media screen and (min-width: 1025px) {
  .photographer_section article {
    padding: 0%;
    margin-bottom: 2rem;
  }
}

.photographer_section article h2 {
  /*@media screen and (min-width: 768px) {
      font-size: 3rem;
  }
  @media screen and (min-width: 992px) and (max-width: 1024px) {
      font-size: 3rem;
  }*/
}
@media screen and (min-width: 414px) and (max-width: 736px) {
  .photographer_section article h2 {
    color: #D3573C;
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
}
@media screen and (min-width: 1025px) {
  .photographer_section article h2 {
    font-size: 2.5rem;
    margin-bottom: 0.8rem;
  }
}

.photographer_section article img {
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 3rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  /*@media screen and (min-width: 768px) {
      height: 250px;
      width: 250px;
  }
  @media screen and (min-width: 992px) and (max-width: 1024px) {
      height: 250px;
      width: 250px;
  }*/
}
@media screen and (min-width: 414px) and (max-width: 736px) {
  .photographer_section article img {
    height: 18rem;
    width: 18rem;
  }
}
@media screen and (min-width: 1025px) {
  .photographer_section article img {
    height: 250px;
    width: 250px;
    margin-bottom: 2rem;
  }
}

article .photographe_city {
  color: #901C1C;
  font-size: 2rem;
  margin-bottom: 0.8rem;
}
@media screen and (min-width: 1025px) {
  article .photographe_city {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
  }
}
article .photographe_tagline {
  color: black;
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
  text-align: center;
  width: 20rem;
}
@media screen and (min-width: 1025px) {
  article .photographe_tagline {
    font-size: 1rem;
  }
}
article .photographe_price {
  color: #525252;
  font-size: 1.2rem;
}
@media screen and (min-width: 1025px) {
  article .photographe_price {
    font-size: 0.9rem;
  }
}

.photograph_profile_picture {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 3rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
@media screen and (min-width: 1025px) {
  .photograph_profile_picture {
    height: 250px;
    width: 250px;
  }
}

.photograph-header {
  padding: 2rem;
}
.photograph-header .infos_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.photograph-header .infos_header h1 {
  font-size: 4rem;
  color: #D3573C;
}
.photograph-header .infos_header p {
  font-size: 2rem;
  color: #901C1C;
}
@media screen and (min-width: 1025px) {
  .photograph-header .infos_header {
    padding: 2rem;
  }
}

.mediaDiv {
  margin: 0 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px 157px;
}
.mediaDiv .figureMedia {
  height: 450px;
  width: 450px;
}
.mediaDiv .imgFigure {
  height: 400px;
  width: 450px;
  object-fit: cover;
  border-radius: 1%;
}
.mediaDiv .videoFigure {
  height: 400px;
  width: 450px;
  object-fit: cover;
  border-radius: 1%;
}
.mediaDiv .figcaption-media {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 0.5rem;
}
.mediaDiv #titleFigcaption, .mediaDiv #likesFigcaption {
  font-size: 1.4rem;
  color: #901C1C;
}

body {
  position: relative;
}
body .likes_price_div {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #DB8876;
  height: 6rem;
  width: 30rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 2%;
  font-size: 1.5rem;
  color: black;
  font-weight: bold;
}
body .likes_price_div .all_likes {
  display: flex;
  flex-direction: row;
}

/*# sourceMappingURL=style.css.map */
