body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

.photographer_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @media #{$desktop} {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 70px;
        margin-top: 100px;
    }
    /*@media #{$tablet} {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    
    @media #{$tablet_rotate} {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }}*/
}

.photographer_section article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-self: center;
    padding: 3rem;
    @media #{$desktop} {
        padding: 0%;    
    }

}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 5rem;
    @media #{$desktop} {
        font-size: 36px;
    }
    /*@media #{$tablet} {
        font-size: 3rem;
    }
    @media #{$tablet_rotate} {
        font-size: 3rem;
    }*/
}

.photographer_section article img {
    height: 500px;
    width: 500px;
    @media #{$desktop} {
        height: 200px;
        width: 200px;
    }
    /*@media #{$tablet} {
        height: 250px;
        width: 250px;
    }
    @media #{$tablet_rotate} {
        height: 250px;
        width: 250px;
    }*/
}