.photograph_profile_picture {
    height: 150px;
    width: 150px;
    @include photographerProfilPicture;
    @media #{$desktop} {
        height: 250px;
        width: 250px;
    }
}

.photograph-header {
    padding: 1rem;
    .infos_header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        justify-content: space-around;
        background-color: #fafafa;
        @media #{$desktop} {
           flex-direction: row;
           justify-content: space-around; 
        }
        h1 {
            font-size: 1.5rem;
            color: $primary-orange;
            @media #{$desktop} {
                font-size: 4rem;
             }
        }
        p {
            font-size: 1.5rem;
            color: $primary-red;
            @media #{$desktop} {
                font-size: 2rem;
             }
        }
        .tagline {
            font-size: 1rem;
            width: 90%;
            color: $secondary-grey;
            @media #{$desktop} {
            font-size: 1.5rem;
            width: 100%;
         }
        }

        @media #{$desktop} {
            padding: 2rem;
        }
    }
}

.mediaDiv { 
    display: flex;
    flex-direction: column;
    align-items: center;
    @media #{$desktop} {
    flex-direction: row;
    margin-left: 100px;
    flex-wrap: wrap;
    gap: 30px 50px;
    }
    @media #{$tablet} {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px 30px;
    margin-top: 2rem;
    }
    
    .figureMedia {
        height: 300px;
        width: 350px;
        margin-bottom: 3rem;
        @media #{$desktop} {
        height: 450px;
        width: 400px;  
        }
        @media #{$tablet} {
            width: 320px;
            }
        
    }
    .imgFigure {
    @include figuresAllMedias;
    }
    .videoFigure {
    @include figuresAllMedias;
    }
    .figcaption-media {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 0.5rem;
        @media #{$mobile} {
            justify-content: space-around;
        }

    }
    #titleFigcaption, #likesFigcaption {
        font-size: 1.2rem;
        color: $primary-red;
    }
}

#design_tablet {
    @media #{$tablet} {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0 2rem;
    }
}

body {
    position: relative;
    .likes_price_div {
        @media #{$mobile} {
            position: unset;
            font-size: 1.2rem;
            height: 4rem;
            width: 20rem;
            margin: 1rem auto;
        }
        @media #{$tablet} {
            position: unset;
            font-size: 1.2rem;
            height: 4rem;
            width: 20rem;
            margin: 1rem;
        }
    position: fixed;
    bottom:0;
    right:0;
    background-color: $secondary-orange;
    height: 5rem;
    width: 24rem;
    //margin-left: 72%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 2%;
    font-size: 1.5rem;
    color: black;
    font-weight: bold;
    .all_likes {
        display: flex;
        flex-direction: row;
        
    }

}
}