@mixin photographerProfilPicture {
    border-radius: 50%;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    @media #{$desktop} {
        height: 700px;
        width: 800px;
        margin-bottom: 3rem;
}}

@mixin buttonbContact {
    @media #{$mobile} {
        height: 45px;
        font-size: 15px;
        position: fixed;
        bottom: 0;
        margin-bottom: 1.4rem;
    }
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

@mixin imgvideo {
    height: 600px;
    width: 300px;
    object-fit: cover;
    border-radius: 5px;
    margin: 1rem;
    @media #{$desktop} {
    height: 300px;
    width: 800px;
    }
}

@mixin figuresAllMedias {
    height: 300px;
    width: 350px;
    object-fit: cover;
    border-radius: 1%;
    @media #{$desktop} {
        height: 400px;
        width: 400px;
    }
}