// Color

$primary-red: #901C1C;
$primary-orange: #D3573C;
$secondary-orange: #DB8876;
$secondary-grey: #525252;

// Media Size

$desktop: "screen and (min-width: 1025px)";
$tablet: "screen and (min-width: 768px) and (max-width: 991px)";
$tablet_rotate: "screen and (min-width: 992px) and (max-width: 1024px)";
$mobile_rotate: "screen and (min-width: 640px) and (max-width: 767px)";